{% extends "Gestionnaire/base.html" %}
{% load static %}


{% block title %}Permissions - gUtilisateur | Gestionnaire {% endblock %}


{% block home %}<li><a href="{% url 'home' %}">Accueil</a></li>{% endblock %}
{% block gUtilisateurs %}
<li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">gUtilisateurs <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'listUtilisateurs' %}"><i class="fas fa-server"></i> Liste-Utilisateurs</a></li>
    <li><a href="{% url 'addUtilisateurs' %}"><i class="fas fa-arrow-alt-circle-up"></i> Ajouter-Utilisateur</a></li>
    <li><a href="{% url 'deleteUtilisateurs' %}"><i class="fas fa-archive"></i> Supprimer-Utilisateur</a></li>
    <li><a href="{% url 'updateUtilisateurs' %}"><i class="fas fa-question-circle"></i> Modifier-Utilisateur</a></li>
    <li><a href="{% url 'permissionUtilisateurs' %}"><i class="fas fa-question-circle"></i> Attribuer-Permissions</a></li>
  </ul>
</li>
{% endblock %}
